<div class="h-100 bg-animation" style="background: #fff">
  <div class="d-flex h-100 justify-content-center align-items-center">
    <div class="mx-auto app-login-box col-sm-4">
      <h3 class="text-center">Bus Portal</h3>
      <div class="modal-dialog w-100 mx-auto">
        <div class="modal-content">
          <div class="modal-body">
            <form (ngSubmit)="onSubmit()" [formGroup]="loginForm" id="form1">
              <div class="h5 modal-title text-center">
                <h4 class="mt-2">
                  Welcome back, Please sign in to your account with OTP.
                </h4>
              </div>
              <div class="form-group mb-3">
                <input
                  [ngClass]="{
                    'is-invalid': submitted && f.phoneNumber.errors
                  }"
                  class="form-control"
                  formControlName="phoneNumber"
                  maxlength="10"
                  minlength="10"
                  (ngModelChange)="f.phoneNumber.errors ? '' : sendOtp()"
                  placeholder="Mobile Number"
                  type="tel"
                />
                <div *ngIf="(f.phoneNumber.invalid && (f.phoneNumber.touched || f.phoneNumber.dirty)) || submitted" class="mt-1" >
                  <span  *ngIf="f.phoneNumber.errors?.required" class="text-danger">Number is required</span>
                  <!--                  <span *ngIf="f.phoneNumber.errors?.minlength" class="text-danger">Number must be 10 digits</span>-->
                  <span *ngIf="f.phoneNumber.errors?.pattern" class="text-danger">Number must be a valid Number</span>
                </div>
              </div>
              <div *ngIf="isOTP === true" class="form-group mb-3">
                <input
                  [ngClass]="{ 'is-invalid': submitted && f.loginOTP.errors }"
                  class="form-control"
                  formControlName="loginOTP"
                  minlength="6"
                  placeholder="enter OTP"
                  type="text"
                />
                <div
                  *ngIf="
                    (f.loginOTP.invalid &&
                      (f.loginOTP.touched || f.loginOTP.dirty)) ||
                    submitted
                  "
                  class="mt-1"
                >
                  <span *ngIf="f.loginOTP.errors?.required" class="text-danger"
                  >OTP is required</span
                  >
                  <span *ngIf="f.loginOTP.errors?.minlength" class="text-danger"
                  >The OTP should be minimum 6 digits</span
                  >
                </div>
              </div>

              <div class="text-center">
                <span class="text-danger">{{error}}</span>
              </div>

              <button
                class="btn text-center text-white form-control"
                style="background-color: black"
                type="submit"
              >
                Login
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
