<div class="app-content">
  <div class="app-title">
    <div class="">
      <h1>
        <i class="fa fa-hashtag" aria-hidden="true"></i>
        Slabs
      </h1>
    </div>
    <!--    <ul class="app-breadcrumb breadcrumb">-->
    <!--      <xng-breadcrumb></xng-breadcrumb>-->
    <!--    </ul>-->
  </div>

  <div class="row">
    <div class="col-lg-12 col-md-12">
      <div class="main-wrapper">
        <div class="tile">
          <div class="tile-body">
            <div class="row mb-3">
              <div class="col-sm-3">
                <label>Search by Type</label>
                <input
                  type="text"
                  placeholder="search"
                  class="form-control form-control-sm"
                  [(ngModel)]="queryObj.type"
                  (ngModelChange)="getSlabs()"
                />
              </div>
              <div class="col-sm-3"></div>
              <div class="col-sm-2"></div>
              <div class="col-sm-4 text-end mt-auto">
                <button
                  class="btn btn-primary btn-sm"
                  (click)="openSlabModal(addSlabModal)"
                >
                  Add Slab
                </button>
              </div>
            </div>
            <div
              class="table-responsive"
              style="overflow-x: auto"
              [ngStyle]="
                slabData.length >= 50 ? { height: '700px' } : { height: '100%' }
              "
            >
              <table class="table table-bordered table-hover text-center">
                <thead>
                  <tr>
                    <th>S No</th>
                    <th>Type</th>
                    <th>Price Per KM</th>
                    <th>Slab</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let slab of slabData; let i = index">
                    <td>{{ (queryObj.page - 1) * queryObj.size + i + 1 }}</td>
                    <td>{{ slab.type }}</td>
                    <td>{{ slab.pricePerKM }}</td>
                    <td>{{ slab.slab }}</td>
                    <td>
                      <a
                        class="btn btn-sm"
                        (click)="editSlab(slab, addSlabModal)"
                      >
                        <i class="fa fa-edit"></i
                      ></a>
                    </td>
                  </tr>
                  <tr *ngIf="slabData.length === 0">
                    <td colspan="5" style="text-align: center">
                      No Records exist.
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="row mt-4" *ngIf="slabData.length !== 0">
              <div class="col-sm-6" style="color: #393b3f; font-size: 14px">
                <ngb-pagination
                  *ngIf="totalCount || !totalCount === 0"
                  [(page)]="queryObj.page"
                  [pageSize]="queryObj.size"
                  [collectionSize]="totalCount"
                  [boundaryLinks]="true"
                  (pageChange)="changePage($event)"
                  [maxSize]="8"
                >
                </ngb-pagination>
              </div>
              <div class="col-sm-6">
                <ul
                  class="pagination pull-right"
                  *ngIf="totalCount || !totalCount === 0"
                >
                  <li
                    class="page-item"
                    [ngClass]="size === queryObj.size ? 'active' : ''"
                    *ngFor="let size of queryObj.pageSizes"
                    (click)="handlePageSizeChange(size)"
                  >
                    <button class="page-link">
                      {{ size }}
                      <span class="sr-only">(current)</span>
                    </button>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #addSlabModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">{{ title }}</h4>
    <!-- <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button> -->
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-10">
        <div class="mb-3">
          <label for="Type">Type<span class="text-danger">*</span></label>
          <input
            type="text"
            class="form-control form-control-sm"
            id="Type"
            [(ngModel)]="addSlabObj.type"
            [disabled]="slabId"
            aria-describedby="emailHelp"
            placeholder="Enter Type"
          />
        </div>
        <div class="mb-3">
          <label for="pricePerKM"
            >Price Per KM<span class="text-danger">*</span></label
          >
          <input
            type="number"
            class="form-control form-control-sm"
            id="pricePerKM"
            [(ngModel)]="addSlabObj.pricePerKM"
            aria-describedby="emailHelp"
            placeholder="Enter Price"
          />
        </div>
        <div class="mb-3">
          <label for="slab">Slab<span class="text-danger">*</span></label>
          <input
            type="text"
            class="form-control form-control-sm"
            id="slab"
            [(ngModel)]="addSlabObj.slab"
            [disabled]="slabId"
            aria-describedby="emailHelp"
            placeholder="Enter Slab"
          />
        </div>
        <div class="mb-3" *ngIf="errors.length">
          <span *ngFor="let error of errors" class="text-danger">{{
            error
          }}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-danger btn-sm"
      (click)="c('Close click')"
    >
      Close
    </button>
    <button type="button" class="btn btn-success btn-sm" (click)="addSlab()">
      {{ slabId ? 'Update' : 'Add' }}
    </button>
  </div>
</ng-template>
